/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*--------------Utility Classes---------------*/

.container{
  width:70vw;
  margin:40px auto;
  max-width:960px;
}

/* ---------------Responsive Images----------------- */

img{
  max-width:100%;
  height:auto;
}



/*  
#9E6942 Dark Brown
#FFC69E Light Peach
#EBA97B Mid Peach
#33959E Dark Blue
#7AE1EB Light Blue
*/


body{
    font-family: 'Aclonica', sans-serif;
    margin:0;
}

header.primary{
background:#7AE1EB;  
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    text-align:center;
    color:#9E6942;
    text-shadow:2px 2px #000000;
    /*long form*/
    padding-top:20px;
    padding-right:40px;
    padding-bottom:20px;
    padding-left:40px;
    /*or T,R,B,L */
    padding:20px 40px 20px 40px;
    /* or T/B  R/L */
    padding:20px 40px;
}

header.primary h1{
  font-size:2.9rem;
  margin:20px 0;
}

header.primary h1 a{
  color:#9E6942;
  text-decoration:none;
}

header.primary h2{
  font-size:1.8rem;
  /*T L/R B*/
  margin: 20px auto 40px;
}

header.primary nav{
  width:80vw;
  margin:20px auto;
  max-width:900px;
}

header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul li a{
  color:#9E6942;
  text-decoration:none;
  background-color:#000000;
  background-color:rgba(0,0,0,.4);
  padding:8px 16px;
  border-radius:20px;
  transition:.5s;
}

header.primary nav a:hover,
header.primary nav a:active{
  background-color:rgba(0,0,0,.8);
}

#intro{
  border-bottom: 2px dotted #33959E;
  padding-bottom:1.2rem;
}

#intro h2{
  color:#33959E;
}

#intro p{
  line-height:1.2;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

#content article.post{
  width:30%;
  box-shadow:0 4px 8px rgba(0,0,0,.4);
  padding:.7em;
  font-size:.7rem;
  border-radius:10px;
  transition:.5s;
}

#content article.post:hover{
  box-shadow:0 8px 16px rgba(0,0,0,.4);
}

article.post figure{
  margin:0;
}

article.post time, article.post figcaption, article.post .post-meta{
  font-size:.8em;
  text-transform:uppercase;
  color:#FFC69E;
}

article.post img{
  border-radius:6px;
}

article.post a:link, article.post a:visited{
  color:#9E6942;
}

article.post a:hover, article.post a:active{
  text-decoration:none;
}

/* Attribute Selectors */
aside[role="complementary"]{
  background-color:#EBA97B;
  color:#33959E;
  padding:2.2rem;
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

aside article.widget{
  width:45%;
}

aside a.read-more:link{
  color:#9E6942;
  display:block;
  margin-top:10px;
}

aside article.widget footer{
  display:none;
}

#colophon {
  background-color:#7AE1EB;
}

#colophon h6{
  padding:20px;
  margin:0;
  text-align:center;
  color:#33959E;
  font-size:.8rem;
  text-transform:uppercase;
  text-shadow:1px 1px #000000;
}








/*Media Query Example*/

@media screen and (max-width:685px) {
  
  header.primary nav ul{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  margin:0 auto;
  width:60vw;
  }
  
  header.primary nav a{
    display:block;
  }
  
  header.primary nav li{
    margin-bottom:10px;
  }
  
  
  
  
}